/*
* @Author: Administrator
* @Date:   2018-04-13 20:10:07
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-13 21:29:50
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
header{
	width: 100%;
	height: 72px;
	box-shadow: 0 2px 2px 2px #eee;
}
.head_box{
	width: 1118px;
	height: 72px;
	margin: 0 auto 18px;
}
.head_left{
	width: 79px;
	height: 72px;
	font-weight: bold;
	font-size: 25px;
	line-height: 72px;
	float: left;
}
.head_right{
	width: 250px;
	height: 15px;
	float: right;
	margin-top: 30px;
}
.head_right a{
	display: block;
	font-size: 10px;
	margin-left: 15px;
	float: left;
}
/* 介绍开始 */
.about{
	width: 1110px;
	height: 540px;
	margin: 18px auto 90px;
}
.about_img{
	width: 540px;
	height: 540px;
	background: url('../img/pic1_03.png') no-repeat center;
	margin-right: 30px;
	float: left;
}
.about_right{
	width: 540px;
	height: 540px;
	float: left;
}
.about_top{
	width: 100%;
	height: 75px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	line-height: 75px;
}
.about_text{
	width: 540px;
	height: 400px;
	margin-top: 30px;
	background: #eee;
}
.about_text h1{
	color: #444;
	font-size: 18px;
	margin-bottom: 10px;
}
/* 介绍结束 */
/* 技能开始 */
.skills{
	width: 100%;
	height: 400px;
	margin-bottom: 90px;
	background: #eee;
}
.skills_top{
	width: 100%;
	height: 80px;
	font-size: 50px;
	color: #3781cd;
	text-align: center;
	line-height: 80px;
}
.skills_box{
	width: 1139px;
	height: 320px;
	margin: 0 auto;
}
.skill_box{
	width: 257px;
	height: 320px;
	margin-right: 37px;
	float: left;
}
.skill_box:last-child{
	margin-right: 0px;
}
.skills_box h1{
	width: 100%;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 50px auto 20px;
	color: #333;
}
.skills_box h2{
	width: 100%;
	height: 40px;
	font-size: 15px;
	color: #958888;
}
/* 技能结束 */
/* 作品开始 */
.portfolio{
	width: 100%;
	height: 75px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 75px;
	margin-bottom: 50px;
}
.zuoye{
	width: 1141px;
	height: 812px;
	margin: 0 auto;
}
.zuoye_box{
	width: 360px;
	height: 812px;
	float: left;
	margin-right: 30px;
}
.zuoye_box:last-child{
	margin-right: 0px;
}
.zuoye_img1{
	width: 360px;
	height: 444px;
	margin-bottom: 30px;
	background: url('../img/pic1_07.png') no-repeat center;
}
.zuoye_img2{
	width: 360px;
	height: 339px;
	background: url('../img/pic1_16.png') no-repeat center;
}
.zuoye_img3{
	width: 360px;
	height: 360px;
	margin-bottom: 30px;
	background: url('../img/pic1_09.png') no-repeat center;
}
.zuoye_img4{
	width: 360px;
	height: 419px;
	background: url('../img/pic1_14.png') no-repeat center;
}
.zuoye_img5{
	width: 360px;
	height: 473px;
	margin-bottom: 30px;
	background: url('../img/pic1_11.png') no-repeat center;
}
.zuoye_img6{
	width: 360px;
	height: 307px;
	background: url('../img/pic1_18.png') no-repeat center;
}
.zuoye a:hover{
	box-shadow: 0 5px 15px 10px #333;
}
/* 作品结束 */
/* 底部开始 */
.bottom{
	width: 100%;
	height: 195px;
	background: #111;
	margin-top: 90px;
	overflow: hidden;
}
.bottom_img{
	width: 127px;
	height: 19px;
	margin: 72px auto 16px;
	background: url('../img/pict_10.png') no-repeat center;
}
.bottom_text{
	color: #888;
	text-align: center;
}
/* 底部结束 */
